.login--section {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='100%25' height='100%25' viewBox='0 0 1600 900' preserveAspectRatio='xMidYMax slice'%3E%3Cdefs%3E%3ClinearGradient id='bg'%3E%3Cstop offset='0%25' style='stop-color:rgba(130, 158, 249, 0.06)'%3E%3C/stop%3E%3Cstop offset='50%25' style='stop-color:rgba(76, 190, 255, 0.6)'%3E%3C/stop%3E%3Cstop offset='100%25' style='stop-color:rgba(115, 209, 72, 0.2)'%3E%3C/stop%3E%3C/linearGradient%3E%3Cpath id='wave' fill='url(%23bg)' d='M-363.852,502.589c0,0,236.988-41.997,505.475,0 s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z' /%3E%3C/defs%3E%3Cg%3E%3Cuse xlink:href='%23wave' opacity='.3'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='translate' dur='10s' calcMode='spline' values='270 230; -334 180; 270 230' keyTimes='0; .5; 1' keySplines='0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0' repeatCount='indefinite' /%3E%3C/use%3E%3Cuse xlink:href='%23wave' opacity='.6'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='translate' dur='8s' calcMode='spline' values='-270 230;243 220;-270 230' keyTimes='0; .6; 1' keySplines='0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0' repeatCount='indefinite' /%3E%3C/use%3E%3Cuse xlink:href='%23wave' opacty='.9'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='translate' dur='6s' calcMode='spline' values='0 230;-140 200;0 230' keyTimes='0; .4; 1' keySplines='0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0' repeatCount='indefinite' /%3E%3C/use%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login--container {
    width: 100%;
    max-width: 400px;
    display: flex;
    border-radius: 5px;
    gap: 10px;
    padding: 40px 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    flex-direction: column;
}
.login--container h2{
  text-align: center;
  color: #FFF;
}
.login--container form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input.login--btn {
    background: #e1d4d4a6 !important;
    color: #FFF;
    height: 40px !important;
}
.login--container form input {
    width: 100%;
    max-width: 300px;
    height: 36px;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    text-align: center;
}
.login--btn
{
    text-transform: uppercase;
    font-weight: bold;
}
.error-alert {
    color: #FF0000;
    font-weight: 200;
    font-size: 13px;
}